## database configuration
DB__HOST=localhost
DB__USER=db_user
DB__PASSWORD=db_password
DB__DATABASE=database
DB__TIMEZONE=Z

## jobqueue configuration
JOB_QUEUE__PORT=3007
JOB_QUEUE__LOOP_DELAY=5000
JOB_QUEUE__LOOP_WHILE_MORE_JOBS=true
JOB_QUEUE__RERUN_INTERVAL=100000
JOB_QUEUE__HEARTBEAT_TIMEOUT=300000
JOB_QUEUE__JOB_INACTIVITY_TIMEOUT=1800000
JOB_QUEUE__JOB_REQUEUE_DELAY=3550000
JOB_QUEUE__CONCURRENCY=-2
JOB_QUEUE__SCRIPT_WD="{{env.A2ROOT}}"
JOB_QUEUE__SCRIPT_PATH="scripts"
JOB_QUEUE__RUN=tasks,jobs

##
AUTH__SECRET=authentication_secret_for_task_jwt_auth
AUTH__OPTIONS=options_for_tasks_jwt_auth_verification