## db
DB__HOST="localhost"
DB__USER="user"
DB__PASSWORD="password"
DB__DATABASE="arbimon2"
DB__TIMEZONE="Z"

## aws
AWS__ACCESS_KEY_ID="access key"
AWS__SECRET_ACCESS_KEY="secret access key"
AWS__REGION="region"
AWS__BUCKET_NAME="bucket"

## hosts
HOSTS__JOBQUEUE="http://localhost:3007"

## paths
PATHS__TEMP_DIR="/tmp"
PATHS__EFS_BASE="/tmp"

